<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Playlist Curator </title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/js/uikit.min.js"></script>
    <script defer="defer" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="static/css/app.css" />
</head>
<body>
    <!-- Navbar -->
<nav class="uk-navbar-container uk-dark" style="background-color: #ffffff;"uk-navbar>
    <div class="uk-navbar-left">
        <div class="uk-navbar-item">
            <h1>Spotify Playlist Curator</h1>
        </div>
    </div>
</nav>
<div>
<div class="uk-text-center" uk-grid>
    <div class="uk-width-1-2@l">
        <div id="drawing"></div>
    </div>
    <div id="app" class="uk-width-1-2@l">
        <h1>Genre</h1>
        <div style="max-width: 100%;">
            <h3>{{genres_display}}</h3>
        </div>
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-1-2@l">
                <button v-on:click="create_playlist()">Create this Playlist</button>
            </div>
            <div class="uk-width-1-2@l">
                <button v-on:click="unselect_genres()">Unselect Genres</button>
            </div>
        </div>
        <p>Filter <input v-model="genre_query"></p>
        <div class="uk-panel uk-panel-scrollable uk-margin uk-margin-left uk-margin-right">
            <ul>
                <li style="list-style: none;" v-for="genre in genre_matches">
                    <a v-on:click="select_genre(genre)">{{ genre }}</a>
                </li>
            </ul>
        </div>
        <!-- TOOD: add functionality to get genres for a user-provided spotify artist -->
        <p>Get the genre of an artist</p>
        <input v-model="artist_query">
        <div class="uk-panel uk-panel-scrollable uk-margin uk-margin-left uk-margin-right">
            <ul>
                <li style="list-style: none;" v-for="artist in artist_query_matches">
                    <a v-on:click="select_artist(artist)">{{ artist.name }}</a>
                </li>
            </ul>
        </div>
        <p>{{selected_artist.name}}</p>
        <ul>
            <li style="list-style: none;" v-for="genre in selected_artist.genres">
                <a v-on:click="select_genre(genre)">{{ genre }}</a>
            </li>
        </ul>
    </div>
</div>
</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="static/js/vue.js"></script>
<!-- 
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
-->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="static/js/svg.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script type="text/javascript" src="static/js/app.js"></script>
</body>
</html>